p.norecord.norecord-border {
  border: 1px solid #DFDFDF;
  background: #fff;
}
p.norecord {
  text-align: center;
  padding: 30px 0;
  font-family: 'Futura PT';
  background: #fff;
  width: 100%;
  position: relative;
  /* border: 1px solid #d3d3d3; */
}
.mR10 {
  margin-top: -10px !important;
}

.mainTable thead tr {
  background: #e44a6f;
  border: 1px solid #e3496e;
}

.mainTable th {
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  font-family: 'Futura PT Demi';
  padding: 10px 20px;
  min-height: 56px;
}

.mainTable th, table thead tr th {
  font-size: 13px;
  padding: 10px 20px;
  min-height: 40px;
}

.background-masker {
  background: #fff;
  position: absolute;
}

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
  top: 10px;
  left: 40px;
  height: 8px;
  width: 10px;
}

.background-masker.header-bottom {
  top: 18px;
  height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
  top: 24px;
  height: 6px;
}

.background-masker.header-right,
.background-masker.subheader-right {
  width: auto;
  left: 300px;
  right: 0;
}

.background-masker.subheader-right {
  left: 230px;
}

.background-masker.subheader-bottom {
  top: 30px;
  height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.content-top,
.background-masker.content-four-line,
.background-masker.content-five-line,
.background-masker.content-six-line,
.background-masker.content-four-end,
.background-masker.content-five-end,
.background-masker.content-six-end,
.background-masker.content-first-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.content-top {
  height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-four-end,
.background-masker.content-five-end,
.background-masker.content-six-end {
  width: auto;
  left: 380px;
  right: 0;
  top: 60px;
  height: 8px;
}

.preloader-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.background-masker.content-second-line {
  top: 68px;
}

.background-masker.content-second-end {
  left: 420px;
  top: 74px;
}

.background-masker.content-third-line {
  top: 82px;
}

.background-masker.content-third-end {
  left: 300px;
  top: 88px;
}

.background-masker.content-four-end {
  left: 300px;
  top: 102px;
}

.background-masker.content-five-end {
  left: 300px;
  top: 116px;
}

.background-masker.content-six-end {
  left: 300px;
  top: 130px;
}

.background-masker.content-four-line {
  top: 96px;
}

.background-masker.content-five-line {
  top: 110px;
}

.background-masker.content-six-line {
  top: 124px;
}

@keyframes placeHolderShimmer {
  0% {
      background-position: -468px 0
  }

  100% {
      background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 138px;
  position: relative;
}

.timeline-item {
  background: #fff;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
  margin: 0 auto;
  /* max-width: 472px; */
  min-height: 200px;
}

*/ .timeline-wrapper.full-msg-load .timeline-item {
  width: 100% !important;
  max-width: 100%;
}

.timeline-wrapper.full-msg-load .animated-background {
  width: 100% !important;
}

.timeline-wrapper.leaner-load-time {
  padding: 0px;
}

.timeline-wrapper.leaner-load-time .course-line-load {
  padding: 0px;
  margin-top: 20px;
}

.required-input{
  color: red;
  font-weight: 700;
  font-size: 14px;
}