<div class="allocate-field multi-select-<% css_class %>">
    <label><% main_label %></label>
    <div class="multiple-check-div" id="multiple-check-div-<% css_id %>">
        <h2 class="multi-select"><a ng-click="vsRepeatTrigger();" id="<% label_keyword %>-anchor-label" class="multiple-select" href="javascript:" ><% select_label %></a></h2>
        <div class="multiple-check-box-select multiple-check-box-<% css_class %>">
            <span>
                <li class="multiple-search" ng-if="show_search==1">
                    <input type="text" ng-model="search_key" Placeholder="Search" id="search_<% label_keyword %>" name="search_<% label_keyword %>" ng-keyup="searchResult(this)">
                </li>
                <li class="select_all selection-list" ng-if="show_multiple==1">
                    <input name="select_all_<% label_keyword %>" class="check_all_options chk" type="checkbox" id="check_all_<% label_keyword %>" value="1" ng-model="select_all_list" ng-click="checkAllRecord(this)" />
                    <label for="check_all_<% label_keyword %>"><strong>Select All</strong></label>
                </li>
                <div class="repeater-container" vs-repeat vs-options="{latch:true}">    
                    <div class="item-element well" ng-repeat="record in items" >
                         <input ng-if="show_multiselect==1" name="choose_<% label_keyword %>_id" type="checkbox" class="<% label_keyword %>-selection-list-checkbox chk" id="check<% label_keyword %><% record.id %>" value="<% record.id %>" ng-model="list_item" ng-checked="<% label_keyword %>_select_all" ng-click="checkUncheckCheckbox(this);"/>
                        <input ng-if="show_multiselect==0" name="choose_record_id" type="radio" class="<% label_keyword %>-selection-list-checkbox chk" id="check<% label_keyword %><% record.id %>" value="<% record.id %>" ng-model="list_item" ng-checked="<% label_keyword %>_select_all" ng-click="checkUncheckRadio(this);"/>
                        <label for="check<% label_keyword %><% record.id %>" id="check<% label_keyword %>label<% record.id %>" class="check-<% label_keyword %>-label-<% record.id %>">
                            <% record.search_word %>
                        </label>
                    </div>
                </div>
            </span>
            <span class="no-result" >
                <li ng-if="items == undefined || items.length==0" style="text-align:left;">No Results</li>
            </span>
        </div>
    </div>
    <div class="select_error error"></div>
</div>