.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}
.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
.tim-typo .tim-note{
    bottom: 5px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}


.off-canvas-sidebar .navbar.navbar-transparent {
    /* padding-top: 25px!important; */
    display: none;
}
/* Search css */


/* End Search css */


/* Pagination css */
.pagination ul li a {
    color: #686363 !important;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    text-align: center !important;
    margin: 0 auto !important;
}
.pagination ul li.active {
    background-color: #d81b60ad;
    border-color: #d81b60ad !important;
}
.pagination ul li.active a {color: #fff !important;}
.pagination ul li {
    color: #fff;
    float: left;
    padding: 1px 10px;
    text-decoration: none;
    border: 1px solid #9C9A9A;
    text-align: center;
    margin: 0 10px;
    border-radius: 2px;
    background-color: #9C9A9A;
}
.pagination ul li a {
    color: #fff !important;
    font-weight: 600;
}

/* Loader css */
.preloader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url('https://cutewallpaper.org/21/loading-gif-transparent-background/HopeWell.gif') 50% 50% no-repeat #fff;}
.preloader.preloader-hidden {display: block !important;opacity: 0.5 !important;}

button.tablink {
    margin: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    
}
a.demo-link {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    font-size: 20px;
    color: #d81b60;
    font-weight: 600;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #fff;
}
.bootstrap-select .dropdown-item.active {
    background: #d81b60 !important;
    color: #fff;
}
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
    background-color: #d81b60 !important;
    color: #fff;
}


/* dahsboard */
.card.mb-3 {
    margin-bottom: 30px !important;
}
.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}
.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}
.widget-content .widget-content-left .widget-heading {
    opacity: .8;
    font-weight: bold;
}
.widget-content .widget-content-left .widget-subheading {
    opacity: .5;
}
.widget-content .widget-content-right {
    margin-left: auto;
}
.widget-content .widget-numbers {
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
}
.bg-midnight-bloom {
    background-image: linear-gradient(
-20deg, #2b5876 0%, #4e4376 100%) !important;
}
.bg-arielle-smile {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;
}
.bg-grow-early {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
}
.card-header-rose {
    background: linear-gradient( 
60deg,#ec407a,#d81b60);
}
.card-header-warning
{
background: linear-gradient(
60deg,#ffa726,#fb8c00);
}
.col .widget-content .widget-content-left .widget-subheading {
    opacity: 1;
    font-size: 12px;
}
.col span {
    font-size: 20px;
}
@media only screen and (max-width: 1024px) {

    .col {
        flex-basis: auto;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
    }
}



/* Company list new design css */

.company-list-tips .card-collapse #headingOne {
    padding-top: 0px;
}
.company-list-tips .card-collapse #headingOne h5
{
    padding-top: 0px;
}
.company-list-tips .card-collapse #headingOne h5 a {
    /* font-size: 22px; */
    font-weight: 600;
}
table.table.main-date a{color: #e91e63 !important;font-weight: bolder;
    font-size: 15px;}
.company-list-tips ul li {
    font-size: 16px;
    font-weight: bolder;
}
.tips-demo .dropdown.bootstrap-select {
    width: 100% !important;
}
.tips-demo .bootstrap-select .btn.dropdown-toggle.select-with-transition {

    margin-top: 2px;
}
.table-shopping .img-container img {
    width: 50% !important;
}
.togglebutton label input[type=checkbox]:checked+.toggle {
    background-color: #e91e63 !important;
}
.form-group.is-focused .togglebutton label, .togglebutton label {
    color: rgb(0 0 0 / 53%) !important;
    font-weight: 600;
}
/* End Company list css */

 
  
